<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style type="text/css">
		tr,td{
			padding: 10px;
		}
	</style>
</head>
<body>
	{% if msg %}
	<b style="=color:blue;">{{msg}}</b>
	{% endif %}
<form name="frm" method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<table align="center">
		<tr>
			<td>Email</td>
			<td><input type="text" name="email"></td>
		</tr>
		<tr>
			<td>City</td>
				<td>
					<select name="city">
						<option value="Junagadh">Junagadh</option>
						<option value="Ahemdabad">Ahemdabad</option>
						<option value="Surat">Surat</option>
						<option value="Vapi">Vapi</option>
						<option value="Porbandar">Porbandar</option>
						<option value="Baroda">Baroda</option>
						<option value="Gandhinagar">Gandhinagar</option>	
					</select>
				</td>
			</tr>
		<tr>
			<td colspan="2" align="center">
				<input class="btn btn-primary" type="submit" name="action" value="LOGIN">
			</td>
		</tr>
	</table>
</form>
</body>
</html>
